<h1>Students</h1>
<h1>First Name: </h1>
<%= @student.first_name %>
<br />
<h1>Last Name: </h1>
<%= @student.last_name %>
<br />
<br />
<%= link_to "Delete", student_path(@student), method: :delete %>
