<h1>School Class</h1>
<h1>Title: </h1>
<%= @school_class.title %>
<br />
<h1>Room Number: </h1>
<%= @school_class.room_number %>
<br />
<br />
<%= link_to "Delete", school_class_path(@school_class), method: :delete %>
